.products_container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  padding: 24px 0px;
}

.products_dark_bg {
  background-color: var(--secondary-color-full);
  color: var(--primary-color-full);
}
.products_inner_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 24px;
}
.products_light_bg {
  background-color: var(--primary-color-full);
  color: var(--primary-color-full);
}
