.navbar {
  max-height: 70px;
  padding: 12px 24px;
  background-color: var(--primary-color-full);
  color: var(--secondary-color-full);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  place-content: center;
  border-bottom: 1px solid var(--gray-color-full);
}
.navbar_product_menu_box {
  display: flex;
  align-items: center;
  .navbar_product_menu_box_links_large {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }
  svg {
    display: none;
  }
  .navbar_product_menu_box_mobile {
    .navbar_product_menu_box_mobile_dropdown {
      min-height: 100%;
      background-color: var(--secondary-color-full);
      width: 100%;
      position: absolute;
      top: 65px;
      z-index: 100;
      left: 0;
      color: var(--primary-color-full);
      display: grid;
      grid-template-rows: 1fr auto;
      padding: 24px;
      .navbar_product_menu_box_mobile_dropdown_footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        & > a {
          background-color: var(--primary-color-full);
          width: 100%;
          height: 50px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--secondary-color-full);
          color: var(--secondary-color-full);
        }
      }
      & li {
        font-size: 2rem;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-color: var(--primary-color-full);
        padding: 24px;
        border-style: solid;
        transition: 0.3s background-color,
          color cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      & li:hover {
        background-color: var(--primary-color-full);
        color: var(--secondary-color-full);
      }
      & li:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}

.navbar_logo_box {
  .navbar_logo {
    max-width: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}
.navbar_information_box {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  .navbar_information_box_menu > ul {
    display: flex;
    gap: 24px;
  }
  .navbar_information_box_account {
    display: flex;
    align-items: center;
    gap: 16px;
    .navbar_information_box_account_not_logged {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .navbar_information_box_account_avatar {
      --width-and-height: 40px;
      width: var(--width-and-height);
      height: var(--width-and-height);
      color: rgba(241, 239, 231, 0.9);
      background-color: var(--secondary-color-full);
      display: grid;
      place-content: center;
      border-radius: 100%;
      &:hover {
        cursor: pointer;
      }
    }
    .navbar_information_box_account_cart {
      display: flex;
      align-items: center;
      min-width: auto;
      position: relative;
      font-size: 0.85rem;
      .navbar_information_box_account_cart_count {
        --width-and-height: 18px;
        background-color: var(--secondary-color-full);
        border-radius: 100%;
        display: grid;
        place-content: center;
        color: var(--primary-color-full);
        width: var(--width-and-height);
        height: var(--width-and-height);
        position: absolute;
        right: -10px;
        top: -8px;
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .navbar_information_box_account_not_logged {
    & span {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar_product_menu_box {
    .navbar_product_menu_box_links_large {
      display: none;
    }
    svg {
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .navbar_information_box_menu {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .navbar_product_menu_box_mobile {
    display: none;
  }
}
