.cart_box {
  position: absolute;
  top: 75px;
  right: 0;
  margin-right: 24px;
  min-width: 300px;
  background-color: var(--white-color-pure);
  border: 1px solid var(--primary-color-full);
  padding: 12px 12px;
  border-radius: var(--small-border-radius);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.03);
  & > h2 {
    border-bottom: 1px solid var(--primary-color-full);
    padding-bottom: 8px;
    font-weight: 500;
  }
  .cart_box_footer {
    margin: 12px 0px;
    & div {
      display: flex;
      justify-content: space-between;
    }
    .cart_box_footer_total {
      font-weight: 600;
    }
  }
  .cart_box_button {
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color-full);
    padding: 8px;
    color: var(--primary-color-full);
    border-radius: var(--medium-border-radius);
    border: 1px solid transparent;
    &:hover {
      border-color: var(--secondary-color-full);
      background-color: rgba(67, 40, 24, 0.1);
      color: var(--secondary-color-full);
    }
  }
}

.cart_box_item_card {
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-color-full);
  .cart_box_item_card_info {
    display: flex;
  }
  .cart_box_item_card_info_text {
    margin-left: 8px;
    & span {
      font-size: 0.85rem;
    }
  }
  .card_box_item_card_img {
    --width-and-height: 40px;
    width: var(--width-and-height);
    height: var(--width-and-height);
    border-radius: 100%;
  }
}
