.cart_box_item_card {
  padding: 18px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color-full);
  .cart_box_item_card_info {
    display: flex;
    align-items: center;
  }
  .cart_box_item_card_img {
    --width-and-height: 40px;
    max-width: var(--width-and-height);
    height: var(--width-and-height);
    clip-path: circle(50% at 50% 50%);
  }
  .cart_box_item_card_info_text {
    padding: 4px 12px;
    max-width: 150px;
    & span {
      display: block;
      margin-top: 2.5px;
      font-size: 0.85rem;
    }
  }
  .cart_box_item_card_qty_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    max-width: 50px;
    & svg {
      width: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
