.ticker_text_container {
  max-width: 100vw;
  display: flex;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  gap: 20px;
  padding: 12px;
  & ul {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    animation: scroll 180s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
  }
  & ul li {
    display: flex;
    font-size: 1.5rem;
    text-wrap: nowrap;
  }
}

.ticker_text_container.light {
  background-color: var(--primary-color-full);
  & ul {
    color: var(--secondary-color-full);
  }
}
.ticker_text_container.dark {
  background-color: var(--secondary-color-full);
  & ul {
    color: var(--primary-color-full);
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
